:root{
  --blue:rgb(225, 0, 255);
}

*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--blue);
}
ul, li{
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}
